*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
::-webkit-scrollbar{
    width: 0;
    background-color: transparent
}
.header{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center
}
.menu-link{
    text-decoration: none;
    color: #42281e;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 4vw;
}
.menu-link:hover{
    text-decoration: underline;
    font-weight: 800;
    padding: 10px;
    border-radius: 10%;
    background-color: rgb(226, 191, 158);
    color: beige;
    opacity:0.7;
    cursor: pointer;
}
.logo{
    font-size: 75px;
    color: rgb(67, 46, 25);
    margin: 150px 0 0 100px;
}
.text{
    font-size: 35px;
    color: rgb(67, 46, 25);
    margin: 0 0 0 100px;
    
}
.logo2{
    font-size: 55px;
    color: rgb(67, 46, 25);
    margin: 30px 0 0 100px;
}
.bigBox{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about, .aboutImg{
    width: 25%;
    height: inherit;
    margin-top: 35px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */

}
.about2{
    width: 25%;
    height: inherit;
    margin-top: 35px;
    padding: 10px;
    font-size: 20px;
    /* border: 1px solid black; */

}
.aboutImg{
    background-image: url(image8.jpg);
    background-size: cover;
    
}
.block1{
    width: 40%;
    padding-top: 40px;

}
.block2{
    margin-left: 10px;
    padding-top: 40px;
}
.block3{
    padding-top: 40px;
}
.oval{
    background-color: rgb(67, 46, 25);
    width: 100%;
    height: 50px;
    margin: 10px;
    padding-top: 15px;
    text-align: center
}
.inf{
    margin: 10px;
    line-height: 20px;
    font-size: 18px
}
.img{
    background-color: rgb(67, 46, 25);
    color: rgb(185, 140, 98);
width: 50px;
height: 50px;
margin: 10px;
padding: 15px;
font-size: 20px
}
.cover{
    height: 350px;
    width: 100%;
    position: absolute;
    top:4%;
    background-color: antiquewhite;
    opacity: 0.3;
}

.up{
    width: 100%;
    height: 80%;
    /* border-bottom: 1px solid black; */
}
.down{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: antiquewhite;
    opacity: 0.7;
}
.left, .right{
    width: 50%;
    height: 100%;
}
.left,.right{
 color: black;
 font-weight: 800;
 text-align: center;
 padding-top: 15px;
}
.right{
    background-color: brown
}
.img1, .img2, .img3{
background-size: cover;
}
.img1{
    background-image: url(image4.jpg)
}
.img2{
    background-image: url(images19.jpg);
background-size:100% 100%;
}
.img3{
    background-image: url(colombia-coffee-tour.jpg);
background-size:100% 100%;
}
.text2{
    font-size: 25px;
    color: rgb(67, 46, 25);
    margin: 0 0 0 100px;
}
.contacts{
    display: block;
}
.forma{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.map{
    width: 45%;
}
label{
    font-size: 20px
}
.form-group{
    display: inline-block;

}




.wrapper{
    position:relative;
    width:650px;
    height:350px;
    margin: 20px auto;

    }
.album{
    position:relative;
    width:650px;
    height:300px;
    display: flex;
    /* border: 1px solid black; */

    
}
.imgSl{
    display: none;
    width: 100%;
    height: inherit;
}
.imgSl.curry{
    display: block;
}

.imgSl:nth-of-type(1){
    background-image: url(image11.jpg);
    background-size: 100% 100%
}
.imgSl:nth-of-type(2){
    background-image: url(image13.jpg);
    background-size: 100% 100%
}
.imgSl:nth-of-type(3){
    background-image: url(image14.jpg);
    background-size: 100% 100%
}
.imgSl:nth-of-type(4){
    background-image: url(image15.jpg);
    background-size: 100% 100%
}
.imgSl:nth-of-type(5){
    background-image: url(image16.jpg);
    background-size: 100% 100%
}
.prv_b{
    position:absolute;
    top:120px;
    left:-45px;
    display:block;
    width:35px;
    height:35px;
    cursor:pointer;
    }
.nxt_b{
    position:absolute;
    top:120px;
    left:660px;
    display:block;
    width:35px;
    height:35px;
    cursor:pointer;
}
.prv_b:hover, .nxt_b:hover{
    opacity:0.6;
}
.prv_b{
    background:url(prv.png) no-repeat;
    }
.nxt_b{
    right:10px;
    background:url(nxt.png) no-repeat;
    }

.section{
    padding-top: 90px;
    height: 100vh;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(185, 140, 98)
}
.section:nth-of-type(1){
    background-image: url(image6.jpg);
    background-size: 100% 100%
}
.section:nth-of-type(2){
   background:linear-gradient(to left, lightgoldenrodyellow, rgb(245, 216, 189),rgb(185, 140, 98))
}
.section:nth-of-type(3){
    background-color:rgb(240, 227, 198)
}
.section:nth-of-type(4){
    background-color:rgb(216, 179, 131)
}
.section:nth-of-type(5){
   background:linear-gradient(to left, lightgoldenrodyellow, rgb(245, 216, 189),rgb(185, 140, 98))
}




/* Кружочки */
.slider-dots {
    text-align: center;
    position: fixed;
    top: 50%;
    right: 0;
}
.slider-dots_item{
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
    height: 15px;
    width: 15px;

}